.nav {
    grid-area: n;
    background-color: cornflowerblue;
    width: 200px;
    padding: 10px;
    text-decoration: none;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
